<div class="controls-ribbon ">
  <div class="buttons container">
    <div class="control-buttons">
      <button class="control-button" (click)="filterClickHandler()">
        <i class="fas fa-filter filter-icon"></i>
        <span class="button-text">Filter</span>
      </button>
      <button class="control-button" (click)="sortClickHandler()">
        <i class="fas fa-sort sort-icon"></i>
        <span class="button-text">Sort</span>
      </button>
      <button class="control-button" (click)="refreshClickHandler()">
        <i class="fas fa-sync refresh-icon"></i>
        <span class="button-text">Refresh</span>
      </button>
    </div>
    <div class="search-container">
      <form (submit)="searchClickHandler(); $event.preventDefault()">
        <input #searchInput type="search" class="input" placeholder="Search" (input)="searchChangeHandler($event)" (search)="onSearchClear($event)" enterkeyhint="search">
        <i class="fas fa-search search-icon" (click)="searchClickHandler()"></i>
      </form>
    </div>
  </div>
</div>