<h1>Top Section</h1>
<div style="display: flex; gap: 1rem; justify-content: space-between; flex-direction: column; align-items: center;">
<div style="display: flex; gap: 1rem; justify-content: space-around">
  <app-dropdown dropdownName="store" [items]="stores" />
  <app-dropdown dropdownName="category" [items]="categories" />
</div>
<div style="display: flex; gap: 1rem; justify-content: space-between; flex-direction: column; margin-top: 1rem; width: 10rem;">
  <app-slider />
  <app-slider />
</div>
</div>
