<app-navbar></app-navbar>
<section>
  <app-alerts-controls-ribbon (activeOnlyToggled)="onActiveOnlyToggled($event)" (addAlertClicked)="onAddAlertClicked()"
    [alerts]="alerts" [user]="user">
  </app-alerts-controls-ribbon>
  <hr>
  <app-alert-list [alerts]="alerts" [stores]="stores" (newAlertClicked)="onAddAlertClicked()"
    (deleteAlert)="onDeleteAlert($event)" (editAlert)="onEditAlert($event)"
    (toggleAlert)="onToggleAlert($event)" [loading]="loading"></app-alert-list>
</section>
<app-alert-modal [showAlertModal]="showAlertModal" (onCloseModal)="closeAlertModal()" [alert]="alert" [stores]="stores"
  [user]="user"></app-alert-modal>
