@if (showLandingPage ) {
<app-landing-page (appAccessed)="onAppAccessed($event)"></app-landing-page>
} @else {
<app-navbar></app-navbar>
<section>
  <app-main-top-section></app-main-top-section>

  <hr />
  <app-main-bottom-section></app-main-bottom-section>
</section>
<app-alert-modal
  [showAlertModal]="showAlertModal"
  [existingItemDetails]="itemDetails"
  (onCloseModal)="closeAlertModal()"
  (onSubmitAlert)="submitAlert()"
  [alert]="alertDetails"
></app-alert-modal>
<app-compare-feature-announcement></app-compare-feature-announcement>
}
