<app-home-controls-ribbon
  [isFilterActive]="isFilterActive"
  [isSortActive]="isSortActive"
  [itemsPerPage]="itemsPerPage"
  [cardsPerRow]="cardsPerRow"
  [isFeaturedItemsOnly]="isFeaturedItemsOnly"
  [searchValue]="search"
  [isItemSelectionMode]="isItemSelectionMode"
  [selectedItemsCount]="selectedItemsCount"
  (onItemsPerPageChange)="onItemsPerPageChange($event)"
  (onCardsPerRowChange)="onCardsPerRowChange($event)"
  (onFilterClick)="openFilterModal()"
  (onSortClick)="openSortModal()"
  (onRefreshClick)="onRefreshClick()"
  (onSearchChange)="onSearchChange($event)"
  (onFeaturedItemsChange)="onFeaturedItemsChange($event, true)"
  (onDisplaySettingsClick)="onDisplaySettingsClick()"
  (onDisplaySettingsApply)="onDisplaySettingsApply()"
  (onSelectItemsClick)="onSelectItemsClick()"
  (onCompareClick)="onCompareClick()"
>
</app-home-controls-ribbon>

<app-filter-search-modal
  [stores]="stores"
  [categories]="categories"
  [showFilterModal]="showFilterModal"
  [selectedStores]="selectedStores"
  [selectedCategories]="selectedCategories"
  [priceRange]="priceRange"
  [discountRange]="discountRange"
  [dateRange]="dateRange"
  [includedDiscountTypes]="includedDiscountTypes"
  [isFeaturedItemsOnly]="isFeaturedItemsOnly"
  [excludeFluctuatingItems]="excludeFluctuatingItems"
  [isLowestPriceEver]="isLowestPriceEver"
  [isResetFiltersButtonDisabled]="false"
  (onSubmitFilter)="onSubmitFilter()"
  (onCloseFilterModal)="closeFilterModal()"
  (onStoreChange)="onStoreChange($event)"
  (onCategoryChange)="onCategoryChange($event)"
  (onPriceRangeChange)="onPriceRangeChange($event)"
  (onDiscountRangeChange)="onDiscountRangeChange($event)"
  (onDateRangeChange)="onDateRangeChange($event)"
  (onIncludeNewItemsChange)="onIncludeNewItemsChange($event)"
  (onIncludeDiscountUpItemsChange)="onIncludeDiscountUpItemsChange($event)"
  (onIncludeDiscountDownItemsChange)="onIncludeDiscountDownItemsChange($event)"
  (onIncludeReturnedItemsChange)="onIncludeReturnedItemsChange($event)"
  (onFeaturedItemsChange)="onFeaturedItemsChange($event, false)"
  (onExcludeFluctuatingItemsChange)="onExcludeFluctuatingItemsChange($event)"
  (onLowestPriceEverChange)="onLowestPriceEverChange($event)"
  (onResetFilters)="onResetFilters()"
>
</app-filter-search-modal>

<app-sort-modal
  [showSortModal]="showSortModal"
  (onCloseSortModal)="closeSortModal()"
  [isAiSearch]="aiSearch"
  (onSortChange)="onSortChange($event)"
  (onApplySort)="onApplySort()"
  [sortOptions]="getSortOptions()"
>
</app-sort-modal>
