<app-home-controls-ribbon
  [isFilterActive]="isFilterActive"
  [isSortActive]="isSortActive"
  [itemsPerPage]="itemsPerPage"
  (onItemsPerPageChange)="onItemsPerPageChange($event)"
  (onFilterClick)="openFilterModal()"
  (onSortClick)="openSortModal()"
  (onRefreshClick)="onRefreshClick()"
  (onSearchChange)="onSearchChange($event)"
  (onNewItemsOnlyChange)="onNewItemsOnlyChange($event)"
  (onDiscountUpItemsOnlyChange)="onDiscountUpItemsOnlyChange($event)"
  (onItemsWithHighestDiscountChange)="onItemsWithHighestDiscountChange($event)" 
  >
</app-home-controls-ribbon>

<app-filter-search-modal
  [stores]="stores"
  [categories]="categories"
  [showFilterModal]="showFilterModal"
  [selectedStores]="selectedStores"
  [selectedCategories]="selectedCategories"
  [priceRange]="priceRange"
  [discountRange]="discountRange"
  [dateRange]="dateRange"
  [isResetFiltersButtonDisabled]="false"
  (onSubmitFilter)="onSubmitFilter()"
  (onCloseFilterModal)="closeFilterModal()"
  (onStoreChange)="onStoreChange($event)"
  (onCategoryChange)="onCategoryChange($event)"
  (onPriceRangeChange)="onPriceRangeChange($event)"
  (onDiscountRangeChange)="onDiscountRangeChange($event)"
  (onDateRangeChange)="onDateRangeChange($event)"
  (onResetFilters)="onResetFilters()">
</app-filter-search-modal>

<app-sort-modal
  [showSortModal]="showSortModal"
  (onCloseSortModal)="closeSortModal()"
  [isAiSearch]="aiSearch"
  (onSortChange)="onSortChange($event)"
  (onApplySort)="onApplySort()"
  [sortOptions]="getSortOptions()">
</app-sort-modal>
