<div class="step-description">
    <p>{{headingText}}</p>
</div>

@if(item) {
<a [href]="item.url" target="_blank" rel="noopener noreferrer" class="item-details-container">
    <div class="item-image-container">
        <figure class="image is-1by1">
            <img [src]="item.imageUrl" [alt]="item.name" class="item-image" />
        </figure>
    </div>

    <div class="item-info">
        <h3 class="item-name">{{ item.name }}</h3>
        <div class="item-store">
            <img [src]="'assets/logos/' + item.store + '-logo.svg'" class="store-logo" [alt]="item.store + ' logo'" />
        </div>
    </div>
</a>
} @else {
<div class="no-item-message">
    <p>No item selected</p>
</div>
}