<div class="dropdown" [ngClass]="{'is-active': isActive}">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" (click)="toggleDropdown()">
      <span>{{ dropdownText() }}</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      @for (option of options; track option) {
      <a class="dropdown-item" href="#" class="dropdown-item has-text-weight-semibold has-text-grey-dark"
        [class.is-active]="option === selectedOption" (click)="onOptionChange(option)">
        {{ option | titlecase }}
      </a>
      }
    </div>
  </div>
</div>