<section class="navbar-container">
  <nav class="container">


    <div style="display: flex; align-items: center; justify-content: space-between;">
      <app-logo size="large" variant="navbar" [showText]="true" [clickable]="true" routerLink="/"></app-logo>

      <div class="user-settings-container">
        <button class="price-alerts-btn" (click)="viewAlerts()" >
          <div class="alerts-icon-container">
            <i class="fas fa-bell"></i>
          </div>
          <span class="price-alerts-text">My Alerts</span>
        </button>

        <button class="user-settings-btn" (click)="openUserSettings($event)">
          <i class="fas fa-user"></i>
        </button>
        @if(isUserSettingsOpen) { 
        <div class="dropdown-menu" >
          @if(!user) {
          <a class="dropdown-item" (click)="login()"><i class="fas fa-sign-in-alt"></i>Login</a>
          <a class="dropdown-item" (click)="signup()"><i class="fas fa-user-plus"></i>Sign Up</a>

          }
          <a class="dropdown-item" (click)="viewAlerts()"><i class="fas fa-bell"></i>View Alerts</a>
          <a class="dropdown-item" (click)="viewProfile()"><i class="fas fa-user-circle"></i>View Profile</a>
          @if(user) {
          <a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Logout</a>
          }
        </div>
        }
      </div>
    </div>
  </nav>
</section>
