@if (GENERIC_SETTINGS.maintenanceMode) {
  <div class="maintenance-banner">
    <div class="maintenance-banner-content">
      <i class="fas fa-arrow-up"></i>
      <div class="maintenance-text">
        <strong>We're upgrading {{ GENERIC_SETTINGS.app_name }}.</strong>
        <span>You may experience service disruptions as a result. Thank you for your patience.</span>
      </div>
    </div>
  </div>
}

<router-outlet></router-outlet>

@if (isLoggingOut) {
  <div class="global-auth-loading-overlay">
    <div class="global-loading-spinner">
      <i class="fas fa-spinner fa-spin"></i>
      <p>Logging out...</p>
    </div>
  </div>
}
