<div class="container">
  <app-items-table
    [items]="items"
    [loading]="isItemsLoading"
    [error]="itemsError"
    [storesCheckedAt]="storesCheckedAt"
    [alertLimitReached]="alertLimitReached"
    [isAuthenticated]="isAuthenticated"
    [cardsPerRow]="cardsPerRow"
    [userRole]="userRole"
    [selectedItems]="selectedItems"
    [isItemSelectionMode]="isItemSelectionMode"
    [isMaxItemSelectionCountReached]="isMaxItemSelectionCountReached"
  ></app-items-table>
</div>
@if (items.length > 0) {
<app-pagination
  [currentPage]="currentPage"
  (onPageChange)="onPageChange($event)"
  [isLastPage]="isLastPage"
  [itemsCount]="itemsCount"
  [itemsPerPage]="itemsPerPage"
></app-pagination>
}
