<div 
  *ngIf="priceHistory && priceHistory.length > 0" 
  class="price-chart-wrapper">
  <div class="chart-controls">
    <button 
      type="button" 
      class="zoom-button zoom-in-button" 
      (click)="zoomIn()"
      [disabled]="isZoomedIn || !canZoom"
      title="Zoom In">
      <i class="fas fa-search-plus"></i>
    </button>
    <button 
      type="button" 
      class="zoom-button zoom-out-button" 
      (click)="zoomOut()"
      [disabled]="!isZoomedIn || !canZoom"
      title="Zoom Out">
      <i class="fas fa-search-minus"></i>
    </button>
  </div>
  <div 
    class="price-chart-container"
    [class.zoomed-in]="isZoomedIn">
    <canvas #priceChart></canvas>
  </div>
</div>

